<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="pikachu.css" rel="stylesheet"/>
    <title>Pikachu</title>
</head>
<body>
    <div class="pikachu">
        <div class="pikachu-top">
            <div class="head-container">
                <div class="head">
                    <div class="eye-container">
                        <div class="left-eye"></div>
                        <div class="right-eye"></div>
                    </div>
                    <div class="nose"></div>
                    <div class="mouse">
                        <div class="mouse-container">
                            <div class="mouse-left">
                                <div class="hide-part"></div>
                            </div>
                            <div class="mouse-right">
                                <div class="hide-part"></div>
                            </div>
                        </div>
                    </div>
                    <div class="left-cheek"></div>
                    <div class="right-cheek"></div>
                </div>
                <div class="left-ear">
                        <div class="ear-container">
                            <div class="black-base">
                                <div class="left-yellow-ear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="right-ear">
                        <div class="ear-container">
                            <div class="black-base">
                                <div class="right-yellow-ear"></div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="pikachu-bottom">
            <div class="body"></div>
            <div class="left-hand"></div>
            <div class="right-hand"></div>
            <div class="left-feet"></div>
            <div class="right-feet"></div>
            <div class="tail">
                <div class="tail-container">
                    <div class="tail1"></div>
                    <div class="tail2"></div>
                    <div class="tail3"></div>
                    <div class="tail4"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>